{% extends 'base01.html' %} <!-- importa os blocos do arquivo base.html -->

{% block estilo %} <!-- bloco de estilo e nome da página  -->
<title>HOME</title>
<link rel="stylesheet" href="{{ url_for('static', filename='infantil.css') }}">
{% endblock %}

{% block conteudo %}<!-- conteúdo que será exibido -->

<div class="baseDeFundo">
  <div class="container">
    <!-- titulo pa página -->
    <h1 class="title">MINISTÉRIO INFANTIL</h1>

    <div class="content">
      <p>O ministério infantil desempenha um papel fundamental na formação espiritual das crianças, proporcionando um espaço seguro e acolhedor para que elas aprendam sobre a fé. Desde a infância, as crianças estão em um período de desenvolvimento em que absorvem informações e valores, e o ministério infantil oferece uma base sólida para a compreensão de princípios cristãos. Através de histórias bíblicas, atividades lúdicas e ensinamentos adaptados à sua faixa etária, as crianças podem desenvolver uma relação pessoal com Deus, cultivando sua espiritualidade desde cedo.</p>
      <img src="{{ url_for('static', filename='images/criancaBrincando.png') }}" alt="Descrição da imagem direita">
    </div>

    <div class="content">
      <p>Além disso, o ministério infantil é crucial para a continuidade da igreja. Ao investir na educação e na formação espiritual das novas gerações, a igreja garante que os ensinamentos e valores da fé sejam passados adiante. Isso não apenas fortalece a comunidade de fé, mas também ajuda a formar futuros líderes e membros ativos da igreja. Através de programas de discipulado, as crianças são preparadas para participar de atividades da igreja, promovendo um senso de pertencimento e responsabilidade.Este é o segundo parágrafo da página. Ele continua a apresentação do conteúdo sem uma imagem, permitindo o desenvolvimento do tema abordado.</p>
    </div>

    <div class="content">
      <img src="{{ url_for('static', filename='images/criancaLendo.png') }}" alt="Descrição da imagem esquerda">
      <p>O ministério infantil também contribui para a construção de relacionamentos saudáveis e significativos entre as crianças e seus pares, bem como entre elas e os adultos da igreja. Essas interações promovem um ambiente de amor, aceitação e apoio, onde as crianças podem se sentir valorizadas e respeitadas. Isso é essencial para o desenvolvimento emocional e social delas, ajudando-as a formar amizades duradouras e a aprender sobre a importância da comunidade na fé.</p>
    </div>

    <div class="content">
      <p>Por fim, o ministério infantil é uma oportunidade para os adultos da igreja se envolverem ativamente no desenvolvimento espiritual das crianças. Isso pode incluir a participação como voluntários, educadores ou mentores, o que não apenas fortalece a comunidade, mas também enriquece a experiência de fé dos adultos. Ao verem o impacto que têm na vida das crianças, os adultos podem ser renovados em sua própria fé, criando um ciclo de aprendizado e crescimento espiritual que beneficia toda a igreja.</p>
    </div>
  </div>
</div>
{% endblock %}